# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Build
build/
dist/
develop-eggs/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
wheels/
pip-wheel-metadata/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# -------------------------
# Virtual Environment
# -------------------------
venv/
env/
ENV/
.venv/
env.bak/
venv.bak/

# -------------------------
# IDE
# -------------------------
.idea/
.vscode/

# -------------------------
# Jupyter
# -------------------------
.ipynb_checkpoints/

# -------------------------
# Environment Variables
# -------------------------
.env
.env.local
.env.*.local

# -------------------------
# Media Files (User Uploads)
# -------------------------


# -------------------------
# Logs
# -------------------------
*.log
logs/

# -------------------------
# Database Files (local dev)
# -------------------------
*.db
*.sqlite
*.sqlite3

# -------------------------
# OS Files
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# FastAPI / Testing
# -------------------------
.pytest_cache/
.coverage
htmlcov/

# -------------------------
# Temporary / Cache
# -------------------------
*.tmp
*.temp
.cache/

# -------------------------
# Model Files (Large ML Models)
# -------------------------
app/models/*.pkl
app/models/*.cbm
app/models/*.h5
app/models/*.keras